.h3{
    font-size: 80px;
}
.header_image{
    background-image: url('../Images/oldplayers.jpg');
}
.infoss{
    width: 800px;
    padding: 10px;
}
.subtitle{
    border-bottom: 1px solid #00529F;
    border-width: 2px;
    width: fit-content;
    margin-top: 30px;
}
.information{
    margin-top: 30px;
}
.information p{
    line-height: 2.9;
}
.text_container,.text_container p{
    margin-top: 15px;
    line-height: 1.5;
}
.h4{
    margin-top: 15px;
}