.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #F7DDB1;
}
.container{
    display: flex;
    width: 950px;
    height: 200px;
    flex-wrap: wrap;
}
.box{
    width: 75px;
    height: 75px;
    margin: 10px;
    background-color: green;
}