.to_do_list, .completed_list{
    width: 500px;
    height: 700px;
    border: 3px solid black;
    border-radius: 10px;
    overflow: auto;
    margin-right: 50px;
    background-color: #F2F2F2;
}

button{
    margin: 5px 0 0 8px;
    background-color: #1570F1;
    color: white;
    border: 0;
    border-radius: 7px;
    padding: 4px 20px 4px 20px;
    cursor: pointer;
    
}
button:hover{
    opacity: 0.7;
}
.lists_container{
    display: flex;
    justify-content: center;
}
