.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    border: 2px solid black;
    width: 500px;
    height: 455px;
    padding-left: 20px;
}
label{
    width: 127px;
    text-align: right;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 600;
}
.input{
    width: 115px;
    height: 18px;
    border: 0.1em solid gray;
}
.address_email{
    width: 230px;
    height: 18px;
    border: 0.1em solid gray;
}
.postcode_input{
    width: 72px;
    height: 18px;
    border: 0.1em solid gray;
}
.warning{
    display: flex;
    flex-direction: column;
    align-items: center;
}